* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
    url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff'),
    url('../fonts/Raleway-Light.ttf') format('truetype'),
    url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
body{
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

.work-progress {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  background-color: #e14c41;
  margin-top: 0;
}

.work-progress p {
  margin: 0 0;
  padding: 20px 0 20px 0;
}

/*styles for menu bar*/
header {
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    height: 40px;
    z-index: 4;
}

.header-container {
  display: flex;

  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
    padding-top: 10px;
    height: 20px;
}

.logo p {
  margin-left: 52px;
    font-size: 14px;
    letter-spacing: 1px;
}
.navigation {
  min-height: 1px;
  min-width: 1px;
  align-self: flex-end;
}
header nav {
    /*position: absolute;
    right: 0;
    top: 10px;*/
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-left: 26px;
    margin-right: 26px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #27C7AB;
}

header ul li:last-child {
    margin-right: 52px;
}
.fa-angle-down {
  border: none;
  padding: 0;

}
.dropdown {
    display: inline-block;
    position: relative;

}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: #000;
    width: 120px;
    height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    box-sizing: border-box;
    padding-top: 10px;
}


.dropdown-menu li {
    text-transform: none;
    padding-top: 10px;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0;
    cursor: pointer;

}
.dropdown-menu li:last-child {
  padding-bottom: 10px;
}
/* Way to display dropdown memu with CSS with the help of :hover:
.dropdown:hover .dropdown-menu{
    display: block;
}*/
.menu-overlay {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 35px;
    left: 45px;
    transform: rotate(45deg);
    z-index: 4;
    display: none;
}


.visible {
  display: block;
}


.nav-hamburger {
  display: inline-block;
  -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
 transition: .5s ease-in-out;
 cursor: pointer;
}
.nav-hamburger div {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    display: none;
    -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}


/* Styles for modal content*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    margin-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-sizing: border-box;

}


.modal-content {
  background-color: #000;
    margin: auto;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
overflow: hidden;
}
.modal-content ul li{
  display: block;
  margin-top: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
  width: 80%;
margin-left: 50px;
}
.modal-content ul li:hover {
  color: #27C7AB;
  cursor: pointer;
}









@media screen and (max-width: 680px){
  nav {
    display: none;
  }
  .nav-hamburger {
    margin-top:3px;
    position: absolute;
    right: 52px;
  }
  .nav-hamburger div {
    display: block;



  }
}


.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -7px);
}

.about-overlay {
  position: fixed; /* Sit on top of the page content */
display: none; /* Hidden by default */
width: 100%; /* Full width (cover the whole page) */
height: 100%; /* Full height (cover the whole page) */

left: 0;
right: 0;
bottom: 0;
background-color: rgba(255,255,255,0.8); /* Black background with opacity */
z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
cursor: pointer; /* Add a pointer on hover */

}
/*end of styles for menu bar*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

.about {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(246,246,246,1) 68%, rgba(237,237,237,1) 94%, rgba(237,237,237,1) 100%);
    box-sizing: border-box;
    padding-top: 100px;
    height: 504px;
    width: 100%;
    z-index: 1;
}

.left {
    float: left;
    width: 30%;
    height: 300px;
    box-sizing: border-box;
    display: flex;

}
.left img {
padding-top: 50px;

  width: 100%;
  height: 100%;
  margin: 0 auto;

}

.right {
    text-align: center;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;

}

.about h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: bold;
}

.about p {
    line-height: 18px;
    margin-bottom: 40px;
    font-size: 14px;
}

.about a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 70px;
  width: 290px;/*343px;*/
  background-color: #27C7AB;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 25px;
}

.about a:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*styles for arrows*/
.arrow {
    float: left;
    width: 10%;
    margin-top: 150px;
}

i {
    border: solid #27C7AB;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 30%;

}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 45%;
}


.slider-image ul{
    list-style: none;

}

.slider-image li{
    display: none;

}

.slider-image .visible{
    display: inline-block;
}


@media screen and (max-width: 768px){

  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
  .arrow {
    display: none;
  }
}

/*styles for products section*/
.products {
    width: 100%;
    height: 350px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.img-description {
    float: left;
    width: 33%;

    /* background-image: url('../images/box1_img.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain; */

    box-sizing: border-box;
    padding-left: 13px;
    padding-right: 13px;
    margin: 27px 10px 0 10px;
    position: relative;
    z-index: 2;
    object-fit: contain;
}

.img-description img {
    width: 100%;
    height: 227px;
}

.products h2 {
    position: relative;
    font-size: 20px;
}
/*Styles for overlay*/
.overlay {
    box-sizing: border-box;
    width: 92%;
    height: 62px;
    background-color:rgba(222, 222, 222, 0.5);;
    position: absolute;
    top: 155px;
    z-index: 1;
    padding-left: 10px;
}

.overlay h2 {
    padding-top: 17px;
    font-size: 20px;
}

.overlay h2 span {
    color: #000;
    text-transform: uppercase;
}
/*Styles for underline*/
.products h2::after {
    content: '';
    width: 168px;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0px 0 5px;
    border-style: solid;
    border-color: #27C7AB;
}


#margarita::after {
    content: '';
    width: 198px;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0px 0 5px;
    border-style: solid;
    border-color: #27C7AB;
}
.clair::after {
    content: '';
    width: 138px;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0px 0 5px;
    border-style: solid;
    border-color: #27C7AB;
}
.products p {
    margin-top: 16px;
    color: #9E9E9E;
    font-size: 14px;
}

.products p:last-child {
    margin-top: 30px;
}

.description-text {
  box-sizing: border-box;
    border: 1px solid #BCBCBC;
    padding: 31px 23px;
/*margin-left: 10px;*/
    height: 254px;
    width: 100%;
    background-color: #fff;
    display: none;
}

/*Styles for hover over images with chairs*/
.img-description:hover img {
    display: none;

}
.img-description:hover .description-text{
    display:block;
    margin-top: 0;


}
.img-description:hover .overlay {
    display: none;
}




@media screen and (max-width: 900px){

  .products {
    height: 850px;
  }
  .products .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .img-description {
    width: 51%;
  }
.description-text {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 748px){

  .img-description {
    width: 60%;
  }
}

@media screen and (max-width: 600px){
  .img-description {
    width: 70%;
  }
}

@media screen and (max-width: 600px){
  .img-description {
    width: 90%;
  }
}

/*Styles for price part*/
.price {
    background-color: #F1F1F1;/*#f9f9f9;*/
    height: 800px;
}
.price .container {
  flex-wrap: wrap;
  justify-content: center;
}
.heading-container {
  width: 100%;
}
.section-heading {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 75px;
    padding-top: 50px;
    font-weight: normal;
    letter-spacing: 1px;
}

.price .section-heading {
    padding-left: 20px;
}

.section-heading::after {
    content: '';
    width: 270px;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-width: 0px 0 6px;
    border-style: solid;
    border-color: #27C7AB;
}

.price .section-heading::after {
    content: '';
    position: absolute;
    left: 20px;
}

.page-part {
    width: 30%;/*330px;*/
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #C2C2C2;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F9F9F9;
    margin-bottom: 70px;
}

.big-circle {
    width: 58px;
    height: 58px;
    border: 2px solid #C2C2C2;
    border-radius: 50%;
    background-color: #f9f9f9;
    position: absolute;
    left: 41%;
    top: -42px;
    z-index: 2;
}

.small-circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #C2C2C2;
    position: absolute;
    top:-25px;
    left: 46%;
    z-index: 3;
}

.page-part h3 {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 32px;
    color: #27C7AB;
    font-weight: normal;
}

.price-month {
    width: 130px;
    height: 130px;
    border: 2px solid #C2C2C2;
    border-radius: 50%;
    position: absolute;
    left: 32%;
    top: 90px;
    background-color: #fff;
}

.price-month p {
    text-transform: uppercase;
    color: #C2C2C2;
}

sup {
    font-size: 16px;
}

.price-month p:first-child {
    padding-top: 25px;
    font-size: 35px;
}

.plan {
    padding-top: 190px;
}


.plan p {
    margin: 0 0;
    background-color: #F1F1F1;
    line-height: 35px;
    color: #9E9E9E;
    font-size: 18px;
}

.plan p:nth-child(2n+1) {
    background-color: #E4E4E4;
}

.page-part a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    width: 122px;
    padding-top: 7px;
    box-sizing: border-box;
    background-color: #27C7AB;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 32%;/*104px;*/
}

.page-part:hover {
    background-color: #27C7AB;
    border: 2px solid #27C7AB;
    transition: background-color 1s ease-out;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
 }

/*Separate styles for hover over boxes with price plans*/
.page-part:hover .big-circle {
    background-color: #27C7AB;
    border: 2px solid #27C7AB;
    transition: background-color 1s ease-out;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}

.page-part:hover .small-circle {
    background-color: #fff;
}

.page-part:hover h3 {
    color: #fff;
}

.page-part:hover .price-month {
    border: 2px solid #27C7AB;
    color: #27C7AB;
}

.page-part:hover .plan p:nth-child(2n+1) {
    background-color: #fff;
}

.page-part:hover a {
    background-color: #fff;
    color: #27C7AB;
}
.page-part a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*End of separate styles for hover over boxes with price plans*/


@media screen and (max-width: 914px) {
  .price {
    height: 1350px;
  }
  .page-part {
    width: 40%;
  }
}

@media screen and (max-width: 680px) {
  .price {
    height: 1850px;
  }


  .page-part {
    width: 50%;
  }
}



/*Styles for section with calculator*/
.application {
  background-color: #fff;/*#f9f9f9;*/
  padding:30px 0;

}
.application .container {
  flex-wrap: wrap;
}
.application header {
  background-color: #fff;
}
.application h2 {
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}
.choice_part, .image_part, .summary_part {
  width: 33%;

}
.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}

.application .form {
  margin-top:70px;

}

.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;

}

.list_label {
  font-size: 24px;
  color: #9E9E9E;
  font-family: 'Raleway', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 24px;
  color: #9E9E9E;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}




.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 70px;

}

.application .order_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 15px 30px;
  font-size: 18px;
  display: inline-block;
  font-family: 'Raleway', Arial, Tahoma, sans-serif;
  margin-top: 30px;
  margin-left: 29px;
  border-radius: 10px;
  text-decoration: none;
}
.order_button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.panel_left {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 25%;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #000;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #000;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 70%;
  margin-top: 10px;
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
}

.sum {
  display: inline-block;
  width: 25%;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}


@media screen and (max-width: 998px){
  .application .container {
    justify-content: space-between;
  }
  .choice_part {
    width: 40%;
  }
  .image_part {
    display: none;
  }
  .summary_part {
    width: 40%;
  }
}

@media screen and (max-width: 726px){
  .application .container {
    justify-content: center;
  }
  .choice_part {
    width: 70%;
  }
  .choice_part {
    width: 70%;


  }
  .image_part {
    display: none;
  }
  .summary_part {
    width: 70%;
    margin-top: 20px;
  }
  .summary_panel {
    margin-top: 20px;
  }
}

/*Styles for section Contact Us*/

.contact {
    height: 558px;
}
.contact .container {
  flex-wrap: wrap;

}
.contact h2 {
    margin-bottom: 45px;
    margin-left: 2%;
}

.contact-left {
    width: 70%;
box-sizing: border-box;
padding-left: 2%;
}

.contact-right {
    width: 30%;

}

.confirm {
    margin-top: 20px;
}

.confirm img {
    border: 1px solid #8de0d2;
    margin-right: 20px;
    float: left;
}

.confirm label {
    color: #9E9E9E;

    font-size: 16px;
}

.contact a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 70px;
    width: 290px;/*343px;*/
    background-color: #27C7AB;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;

    font-size: 18px;
    box-sizing: border-box;
    padding-top: 25px;
}

.contact a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

input {
    width: 80%;/*634px;*/
    /*height: 30px;*/
    margin-bottom: 26px;
    padding-left:10px;
    border: 1px solid #27C7AB;
    height: 66px;
    font-size: 24px;
}

textarea {
    width: 80%; /*634px;*/
    height: 190px;
    border: 1px solid #27C7AB;
    resize: none;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 21px;
}

::placeholder {
    color: #9E9E9E;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;

}
@media screen and (max-width: 899px) {
.contact {
  height: 700px;
}
.contact .container {
display: flex;
  justify-content: center;

}
.contact-left {
  width: 100%;
}

.contact-right {
  width: 100%;
}
.confirm {
  width: 100%;
  display: inline-block;
  margin-left: 20px;
}
.contact-right {
  width: 100%;
}
.contact-right img {
  display: none;
}
.contact-right a{
  margin: 10px 0 0 20px;
}
}
/*styles for footer*/
footer {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    color: #9E9E9E;
}

.footer-left {
    width: 60%;/*750px;*/

    font-size: 14px;
    height: 95px;
}

.footer-right {
    width: 40%; /*350px;*/
    height: 80px;

    position: relative;
    text-transform: uppercase;
}

.footer-right span {
    font-weight: bold;
    color: #000;
}

.social-icons {
    float: left;
    margin-left: 100px;
}

.social-name {
    float: left;
    margin-left: 50px;
}

.social-name p{
    margin-top: 10px;
    font-size: 16px;
    color: #9E9E9E;;
}

@media screen and (max-width: 1048px){
footer .container {

justify-content: center;
  flex-wrap: wrap;

}
  .footer-right {
    width: 51%;
    order: 1;
    align-self: center;

  }
.social-icons {
  margin-left: 0;
}
.social-name {
  margin-left: 5%;
}
  .footer-left {
    width: 60%;
    order: 2;
    text-align: center;
  }
}

/*code for checkbox to have image instead of regular check icon*/
input[type='checkbox']{
width: 50px;
height: 50px;
margin-right: 20px;
margin-top: 10px;
  float: left;
}
input[type=checkbox]:before {
  content:"";
  display:inline-block;
  width:48px;
  height:48px;
  background:#fff;
  border: 1px solid #8de0d2;
  margin-right: 20px;

}
input[type=checkbox]:checked:before {
  background-image: url("../images/form_ok.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  }​
